__pycache__/
.DS_Store
.idea
.vscode/*
*.db
*.local
*.log
*.njsproj
*.ntvs*
*.pyc
*.sln
*.suo
*.sw?
data/
dist-ssr/
dist/
lerna-debug.log*
logs/
node_modules/
venv/
# Large model checkpoints
backend/ml/models/Effort/*.pth
backend/ml/models/NPR/*.pth
backend/ml/models/VIB/*.pth
backend/ml/models/VIBSupCon/*.pth
# Allow this
!.vscode/extensions.json
.venv/

backend/analysis/routes_old.py
*-IshaGill.*
backend/.env
